@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%; 
    background-color: transparent;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: blue;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.activo {
    color: blue;
    border-bottom: 3px solid blue;
}

.contenedorProyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin: 7rem 0 2rem; 
}

.proyecto {
    background: #1f1f1f;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyecto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px blue;
}

.proyecto h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: blue;
}

.proyecto img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.proyecto p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.proyecto a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: blue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.proyecto a:hover {
    background: blue;
}

@media (max-width: 1024px) {
    header {
        padding: 1rem 5%;
    }

    nav a {
        font-size: 1.6rem;
        margin-left: 2rem;
    }

    .contenedorProyectos {
        gap: 3rem;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 1rem 5%;
        background-color: #09153f;
    }

    nav {
        margin-top: 1rem;
    }

    nav a {
        font-size: 1.4rem;
        margin-left: 1rem;
    }

    .contenedorProyectos {
        margin-top: 160px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 2.5rem;
    }

    nav a {
        font-size: 1.2rem;
    }

    .contenedorProyectos {
        gap: 1rem;
    }
}
