@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: blue;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.activo {
    color: blue;
    border-bottom: 3px solid blue;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .contenidoHome h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home .contenidoHome h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home .contenidoHome p{
    text-align: justify;
    font-size: 1.2rem;
}

span {
    color: blue;
}

.imagenHome img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px blue;
    cursor: pointer;
    transition: 0.3s ease;
}

.imagenHome img:hover {
    transform: scale(1.05);
}

.iconosSociales a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-color: transparent;
    border: 0.2rem solid blue;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.iconosSociales a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: blue;
    box-shadow: 0 0 25px blue;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: blue;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid blue;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: blue;
    color: black;
    box-shadow: 0 0 25px #ff4c60;
}

.textoTipieado span {
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
    color: blue;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid blue;
    animation: typing 4s steps(14, end) infinite, blinkCursor 0.7s infinite;
}

.tecnologias {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-top: 10px;
}

.tecnologias li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.tecnologias i {
    margin-right: 5px;
    font-size: 24px;
}


@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes blinkCursor {
    50% { border-color: transparent; }
}


@media (max-width: 995px) {
    .home {
        flex-direction: column;
        gap: 4rem;
        margin: 5rem 4rem;
    }

    .home .contenidoHome h3 {
        font-size: 2.5rem;
    }

    .home .contenidoHome h1 {
        font-size: 5rem;
    }

    .imagenHome img {
        margin-top: 4rem;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 1rem 5%; 
    }

    nav a {
        font-size: 1.6rem;
        margin-left: 2rem; 
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 1rem 5%;
        background-color: #09153f;
    }

    nav {
        margin-top: 1rem;
    }

    nav a {
        font-size: 1.4rem;
        margin-left: 1rem;
    }

    .textoTipieado span {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 2.5rem; 
    }

    nav a {
        font-size: 1.2rem;
    }
}
